@CHARSET "UTF-8";
body{
      display: -webkit-flex;
      display: flex;
     align-self:center;
     justify-content:center;
}
body div{
  display: -webkit-flex;
  display: flex;
  justify-content:center;
  align-items:center;
}
span{
	color:#1ABC9C;
	display: -webkit-flex;
    display: flex;
	justify-content:center;
	padding:20px;
	font-size:25px;	
}
form{
	 width:350px;
	 height:430px;
	 background:white;
	 border-radius:10px;
	 display: -webkit-flex;
     display: flex;
	 flex-direction: column  ;
}
 .div1{
	background:#1ABC9C;
	width:100%;
	height:80px;
	border-radius:10px;
	 box-shadow:2px 1px 17px #888888;
}
 .div2{
	 display: -webkit-flex;
     display: flex;
     flex-direction:column ;
}
 .div2 input[type="text"]{
	width:220px;
	border:1px solid #888888;
    border-radius:0px 5px 5px 0px;
    flex-direction: row;
    margin-top: 20px;
    height:40px;
 
}
 .div2 input[type="submit"]{
	width:75%;
	border:2px 1px 17px #888888;
    flex-direction: row;
    margin-top: 50px;
    height:40px;
    background:#1ABC9C;
    border:0px;
    border-radius:5px;
    color: white;
    font-size:18px;
}
 .div2 input[type="submit"]:HOVER{
	color: #464c5b;

}
 .div3{
     display: -webkit-flex;
     display: flex;
     flex-direction:row ;
     flex-wrap:nowrap ;
    
}
 .div4{
	margin-top: 20px;
	/* margin-right: 7px; */
	padding: 4px;
	border:1px solid #888888;
    border-radius:5px 0px 0px 5px;
     border-right:0px;
}

 .div4 img{
	width:30px;
	height:30px;
}
 .div5{
	width:100%;
	height:70px;
	
	text-decoration:none
}
 .div5 .a{
	 text-decoration:none;
	 color: rgba(125,225,225,1);
	 display: -webkit-flex;
     display: flex;
     flex-direction:column-reverse;
}
 .div5 .a:HOVER{
	 text-decoration:none;
	 color: rgba(125,225,225,1);
	 font-size:20px;
}

